[package]
authors = ["Alexander Antonio Gonzalez Fertel"]
version = "0.4.1"
name = "bulloak"
license = "MIT OR Apache-2.0"
edition = "2021"
readme = "README.md"
repository = "https://github.com/alexfertel/bulloak"
homepage = "https://github.com/alexfertel/bulloak"
documentation = "https://github.com/alexfertel/bulloak"
description = """
A simple, fast, and easy-to-use Solidity test generator based on
the Branching Tree Technique.
"""
keywords = ["solidity", "testing", "compiler", "cli", "tree"]
categories = ["development-tools::testing", "command-line-utilities", "compilers", "parsing"]
exclude = ["/.github/*"]

[dependencies]
clap = { version = "4.3.19", features = ["derive"] }
indexmap = "2.0.0"
owo-colors = "3.5.0"

[dev-dependencies]
pretty_assertions = { version= "1.4.0" }
criterion = "0.5.1"

[[bench]]
name = "bench"
harness = false
